@import url(http://fonts.googleapis.com/css?family=Lato:400,900,300,900italic);
body {
  font-family: 'Lato', sans-serif;
  background: #fff;
  font-size: 14px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:focus {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.row {
  padding: 90px 0 92px;
}
img {
  max-width: 100%;
  height: auto;
}
.section-title {
  text-align: left;
  font-size: 52px;
  font-weight: 400;
  color: #005DA4;
  margin: 0 10px;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.section-title span {
  font-weight: 900;
}
.lg {
  width: 260px;
}
.reg-small{
  color: #ffffff;
  border: 1px solid #FFF;
  font-weight: 400;
  border-radius: 4px;
  background: #005DA4;
  border: 1px solid #005DA4;
  padding: 5px 10px;
  margin: 10px;
}
.btn-border,
.btn-common {
  color: #ffffff;
  font-size: 22px;
  border: 1px solid #FFF;
  padding: 16px 36px;
  font-weight: 400;
  margin-left: 36px;
  margin-right: 36px;
  border-radius: 4px;
  position: relative;
  z-index: 10;
}
.btn-border:after,
.btn-common:after {
  width: 100%;
  height: 0px;
  bottom: 0px;
  left: 0px;
  background: #ffffff;
}
.btn-common {
  background: #005DA4;
  border: 1px solid #005DA4;
}
.btn-border:hover {
  color: #005DA4;
}
.btn-border:hover:after {
  height: 100%;
}
.btn-common:hover {
  color: #005DA4;
  background: #005DA4;
  border: 1px solid #005DA4;
}
.btn-common:hover:after {
  height: 100%;
}
.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Navbar  start */
#navigation {
  background: #005DA4;
  border: 1px solid #005DA4;
  color: #fff;
  padding-top: 50px;
  text-align: center;
  width: 300px;
  z-index: 99999;
  overflow: hidden;
}
#navigation .logo {
  margin: 0 auto;
  padding: 30px;
}
#navigation .nav li {
  border: 1px solid transparent;
  margin: 10px 40px;
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}
#navigation .nav li a {
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#navigation .nav li:hover,
#navigation .nav li.active {
  border-color: #fff;
}
/* Navbar End */
/* Header Section Start */
#header {
  width: 100%;
  background: url(../img/backgrounds/wushuBackgroundedit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #ffffff;
}
#header:before {
  background: rgba(1, 0, 2, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  content: "";
  display: block;
}
#header #logo {
  height: 80px;
  opacity: 0.8;
}

#header #logo:hover{
  opacity: 1;
}
#header .top-header {
  margin-top: 50px;
}
#header #title {
  font-size: 64px;
  font-weight: 600;
}
#header #subtitle {
  font-size: 25px;
  color: rgba(255,255,255,0.7);
}

#header .top-header #menu {
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff;
  padding: 24px 30px;
  cursor: pointer;
}
#header .top-header #menu span {
  background-color: #ffffff;
  display: block;
  font-size: 0px;
  height: 3px;
  margin-top: -1px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 40px;
}
#header .top-header #menu span:before,
#header .top-header #menu span:after {
  background: #ffffff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}
#header .top-header #menu span:before {
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  transform: translateY(-300%);
}
#header .top-header #menu span:after {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  transform: translateY(300%);
}
#header .top-header #menu:hover span,
#header .top-header #menu:hover span:after,
#header .top-header #menu:hover span:before {
  background: #005DA4;
}

#header .banner {
  margin: 50px;
}
#header .banner h1 {
  color: #FDB813;
  font-size: 42px;
  font-weight: 200;
  text-transform: uppercase;
}
#header .banner h2 {
  color: #ffffff;
  font-size: 45px;
  margin: 32px 0px 50px;
  text-transform: uppercase;
}
#header .banner .scroll {
  margin: 50px 0;
}
#header .banner .scroll a i {
  font-size: 48px;
  color: #005DA4;
  padding: 12px;
  width: 68px;
  height: 68px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header .banner .scroll a i:hover {
  background: #FDB813;
  color: #ffffff;
}
/* Header Section End */


/* About Us Section Start */
#aboutus {
  background-color: #005DA4;
}

#aboutus h1{
  color: #ffffff;
}

#aboutus p{
  color: #ffffff;
  font-size:18px;
}


/* About Us Section End */


/* media Section Start */
#media {
  background: #ffffff;
  width: 100%;
}
#media .grid-left .large {
  float: left;
  width: 430px;
  height: 100%;
  position: relative;
}
#media .grid-left .grid-box {
  position: relative;
  width: 33%;
  overflow: hidden;
}
#media .grid-left .grid-box img {
  width: 100%;
}
#media .grid-right .grid-box.large {
  width: 100%;
  height: 216px;
  position: relative;
}
#media .grid-right .grid-box {
  width: 50%;
  height: 216px;
  float: left;
  position: relative;
  overflow: hidden;
}
#media .grid-right .grid-box img {
  width: 100%;
  overflow: hidden;
}
#media .grid-right .browse-box {
  position: relative;
  width: 50%;
  float: left;
  height: 216px;
  background: #ffffff;
}
#media .grid-right .browse-box .more {
  text-align: center;
  position: absolute;
  left: 30%;
  width: 50%;
  top: 24%;
}
#media .grid-right .browse-box .more a {
  color: #005DA4;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-decoration: none;
}
#media .grid-right .browse-box .more a i {
  font-size: 50px;
  color: #005DA4;
  padding: 12px;
}
#media .large .overlay a {
  position: absolute;
  top: 42%;
  left: 42%;
}
#media .grid-box .overlay a {
  position: absolute;
  left: 38%;
  top: 36%;
}
#media .grid-box.large .overlay a {
  position: absolute;
  left: 44%;
  top: 36%;
}
#media .overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 3, 8, 0.88);
  height: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#media .overlay a i {
  width: 68px;
  height: 68px;
  line-height: 66px;
  background: #fff;
  border-radius: 50%;
  font-size: 24px;
  color: #005DA4;
}
#media .large:hover .overlay,
#media .grid-box:hover .overlay {
  opacity: 1;
}
/* media Section End */
/* tournament Section Start */
#tournament {
  width: 100%;
  background: url(../img/backgrounds/tournament.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #ffffff;
}
#tournament .section-title {
  color: #ffffff;
}

#tournament .row{
  color: #fff;  
  font-size: 24px;
}

#tournament .instructions{
  color: #fff;  
  font-size: 16px;
  /*font-weight: bold;*/
}

/* tournament Section End */
/* clients Section Start */
#clients .section-title i {
  color: #005DA4;
}
#clients #clients-carousel a img {
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all .6s ease;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  padding-left: 10px;
  padding-right: 10px;
}
#clients #clients-carousel a img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: gray;
  -webkit-transition: all .6s ease;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  opacity: 1.0;
}
/* clients Section End */
/* Skills Section Start */
#skills {
  background: url(../img/backgrounds/skill-bg.jpg);
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
#skills .section-title {
  color: #ffffff;
}
#skills .fact-block {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.07);
  width: 216px;
  border-radius: 50%;
  height: 216px;
  padding: 6px 6px;
  margin: 24px 60px;
  position: relative;
}
#skills .count-info {
  position: absolute;
  top: 0;
  left: 5%;
  width: 200px;
  padding: 48px 32px;
  height: 200px;
}
#skills .count-info h3 {
  font-size: 54px;
  font-weight: 700;
  line-height: 34px;
}
#skills .count-info h4 {
  font-size: 22px;
  color: #005DA4;
  text-transform: uppercase;
}
/* Skills Section End */
/* newsfeed Section Start */
#newsfeed .newsfeed-large {
  width: 100%;
  margin-top: 28px;
  position: relative;
}
#newsfeed .large {
  position: absolute;
  width: 200px;
  height: 196px;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}
#newsfeed .large p {
  padding-top: 10px;
}
#newsfeed .newsfeed-item {
  position: relative;
  color: #454545;
  font-size: 15px;
  width: 100%;
  margin-top: 28px;
  height: 166px;
  overflow: hidden;
}
#newsfeed .newsfeed-item .content {
  background: #d8e5dd;
  width: 195px;
  height: 230px;
  position: absolute;
  padding: 15px;
  top: 0;
  right: 0;
  height: 166px;
  overflow: hidden;
}
#newsfeed .newsfeed-item .content p {
  padding-top: 10px;
}
#newsfeed .title {
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 12px;
}
#newsfeed .title:hover {
  color: #005DA4;
}
/* newsfeed Section End */
/* contact Section Start */
#contact {
  background: url(../img/backgrounds/uci.jpg);
  background-size: cover;
}
#contact .section-title {
  color: #FDB813;
}
#contact .input-group {
  padding-bottom: 20px;
}
#contact .input-group .input-group-addon {
  border-radius: 0px;
  padding: 14px 26px;
  background-color: #005DA4;
  border: none;
  position: relative;
}
#contact .input-group .input-group-addon i {
  color: #ffffff;
  font-size: 26px;
  width: 24px;
  height: 24px;
}
#contact .input-group .form-control {
  color: #898989;
  font-size: 22px;
  font-weight: 300;
  padding: 15px 20px;
  height: 60px;
  border: 0;
  border-radius: 0px;
}
#contact .input-group .form-control:focus {
  box-shadow: none;
}
#contact .input-group .large {
  height: 120px;
}
#contact .btn-gold {
  color: #ffffff;
  font-weight: 400;
  background: #005DA4;
  font-size: 22px;
  width: 100%;
  border-radius: 0px;
  text-transform: uppercase;
  height: 60px;
}
#contact .btn-gold i {
  float: left;
  width: 74px;
  background: #005DA4;
  margin: -12px;
  line-height: 56px;
  height: 60px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#contact .address {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
#contact .address h2 {
  font-size: 25px;
  color:#FDB813;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
  padding-bottom: 30px;
}
#contact .address .contact-info {
  padding-bottom: 30px;
}
#contact .address .contact-info li {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}
#contact .address .contact-info li i {
  padding-right: 15px;
  font-size: 15px;
}
#contact .address .social-icon li {
  float: left;
}
#contact .address .social-icon li a {
  display: inline-block;
  color: #ffffff;
  margin: 0px 5px;
}
#contact .address .social-icon li a i {
  font-size: 18px;
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
#contact .address .social-icon li a .fa-twitter:hover {
  background: #00aced;
  border: 1px solid #00aced;
}
#contact .address .social-icon li a .fa-facebook:hover {
  background: #3b5998;
  border: 1px solid #3b5998;
}
#contact .address .social-icon li a .fa-google-plus:hover {
  background: #dd4b39;
  border: 1px solid #dd4b39;
}
#contact .address .social-icon li a .fa-youtube:hover {
  background: #bb0000;
  border: 1px solid #bb0000;
}
#contact .address .social-icon li a .fa-linkedin:hover {
  background: #007bb6;
  border: 1px solid #007bb6;
}
/* contact Section End */
/* Footer Section Start */
#footer {
  color: #000;
  width: 100%;
  background: #000000;
  border-top: 1px solid #005DA4;
}
#footer .row {
  padding: 20px 0;
}
#footer p {
  font-size: 18px;
  font-weight: 400;
}
#footer a {
  color: #005DA4;
  text-decoration: none;
}
#footer a:hover {
  color: #FDB813;
}
/* Footer Section End */


/* tournament page */
#tournament .back a{
  color: #fff;
  font-size: 15px;
}

#deadline .deadline-info{
  font-size: 20px;
}

#deadline .rules{
  margin-top: 35px;
  margin-bottom: 10px;
}

#deadline .other{
  margin-top: 55px;
  font-size: 30px;
  margin-bottom: 15px;
}


/* tournament page */
#tournament .back a{
  color: #fff;
  font-size: 15px;
}

#deadline .deadline-info{
  font-size: 20px;
}

#deadline .rules{
  margin-top: 35px;
  margin-bottom: 10px;
}

#deadline .other{
  margin-top: 55px;
  font-size: 30px;
  margin-bottom: 15px;
}

#documents{
  background-color: #005DA4;
}

#documents h1{
  color: #fff;
}

#documents .waiver{
  color: #fff;
  font-size: 16px;
}

#documents .competitor-class{
  padding-left: 50px;
}

#venue {
  width: 100%;
  background:  url(../img/backgrounds/arc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #ffffff;
}

#venue h1{
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

#venue p{
  font-size: 20px;
  font-weight: 300;
  padding-left: 15px;
}

#lodging h2{
  font-weight: bold;
  color: #005DA4;
}

#lodging p{
  font-size: 20px;
  font-weight: 300;
  padding-left: 15px;
}

#lodging li{
  font-size: 18px;
  padding-left: 20px;
}

#lodging .booking{
  font-weight: bold;
  color: #005DA4;
}

/* Scores Page */
#scores-header {
  background-image: url(../img/backgrounds/scores.jpg);
  width: 100%;
  height: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

#scores-title {
  padding-top: 100px;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

#scores-header .events li{
  font-size: 11px;
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  margin-right: 5px;
  color: #000;
  background-color: #fff;
}

#scores-header .events {
  padding-top: 15px;
  text-align: center;
}

#scores .male, #scores .female {
  /*padding-bottom: 25px;*/
}

#scores .male h1, #scores .female h1 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  background-color: #005DA4;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  width: 250px;
  margin-left: 25%;
}

#scores .event-name {
  text-align: center;
  font-size: 22px;
}

#scores .level {
  font-size: 18px;
}

#scores .row {
  padding-top: 50px;
}

#scores-border-top {
  background-color: #005DA4;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  min-height: 25px;
  text-align: center;
}

#scores-border-top h1 {
  background-color: #005DA4;
  margin: 0px;
  padding: 45px;
}

#scores-border-bottom {
  background-color: #005DA4;
  height: 25px;
}

#scores #select-score{
  font-size: 36px;
  text-align: center;
}

/* New Navigation */

#sticky_navigation_wrapper { 
	width:100%; 
	height:50px; 
}
#sticky_navigation { 
	z-index: 500; 
	position:relative;
	width:100%; 
	height:50px; 
	padding-left: 5%;
	background:#FFF; 
	-moz-box-shadow: 0 0 5px #999; 
	-webkit-box-shadow: 0 0 5px #999; 
	box-shadow: 0 0 5px #999; 
}

#sticky_navigation ul { 
	list-style:none; 
	margin:0; 
	padding:5px; 
}

#sticky_navigation ul li { 
	margin:0; 
	padding:0; 
	display:inline; 
}

#sticky_navigation ul li a { 
	display:block; 
	float:left; 
	margin:0 0 0 5px; 
	padding:0 0.75%; 
	height:40px; 
	line-height:40px; 
	font-size:14px; 
	font-family:Arial, serif; 
	font-weight:bold; 
	text-transform:uppercase;
	color:#005DA4; 
	background:#FFF; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px; 
}

#sticky_navigation ul li a:hover, #sticky_navigation ul li a.selected { 
	color:#005DA4; 
	background:#FFF; 
}